<h1>Your Results:</h1>
<ul>
  <li><%= @test_word_1 %>: <%= @test_word_1_result %></li>
  <li><%= @test_word_2 %>: <%= @test_word_2_result %></li>
  <li><%= @test_word_3 %>: <%= @test_word_3_result %></li>
</ul>
<a href="/"><button type="button" class="btn btn-success">Test Again</button></a>
